---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">
      Oh, it seems that you are lost in space 🚀
    </h1>
    <img src="https://media4.giphy.com/media/3o7btZ3T6y3JTmjg4w/giphy.gif?cid=6c09b9520jezlowlxcq6ww2apr96i4z5i02nx26fiu651vpg&ep=v1_gifs_search&rid=giphy.gif&ct=g" />
  </div>
</Layout>
